<link rel="stylesheet" href="/assets/styles/styles.css">
<title>Formulario</title>
<div class="container">
    <div class="formulari">
        <h1>Registrate</h1>
        <form action="">
            <label for="nombre">
                <span>Ingresa tu nombre</span>
                <input type="text" name="nombre" id="nombre" autocomplete="name" re>
    
            </label>
            <label for="tipo_documento">
                <span>Tipo de documento</span>
                <select id="tipo_documento" name="tipo_documento">
                    <option value="cc">CC</option>
                    <option value="ce">CE</option>
                    <option value="nit">NIT</option>
                    <option value="pasaporte">PAS</option>
                    <option value="ti">TI </option>
                    <option value="cex">CEX</option>
                    <option value="ptp">PTP</option>
                    <option value="rc">RC</option>
                </select>
            </label>
            <label for="number_document">
                <span>Ingresa tu numero Documento</span>
                <input type="number" name="number_document" id="number_document" autocomplete="name" re>
    
            </label>
            <label for="email">
                <span>Ingresa tu email</span>
                <input type="email" name="email" id="email" autocomplete="name" re>
    
            </label>
    
            <label for="number_document">
                <span>Ingresa tu Teléfono</span>
                <input type="number" name="number_document" id="number_document" autocomplete="name" re>
    
            </label>
            <input type="submit">
        </form>
    </div>
</div>