<link rel="stylesheet" href="/assets/styles/styles.css">
<title>Tabla</title>
<table class="table">

    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo Documento</th>
            <th>Numero Documento</th>
            <th>Correo</th>
            <th>Teléfono</th>
          
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Buzzcocks</th>
            <th>Buzzcocks</th>
            <th>Buzzcocks</th>
            <th>Buzzcocks</th>
            <th>Buzzcocks</th>
          
        </tr>
        <tr>
            <th>Buzzcocks</th>
            <th>Buzzcocks</th>
            <th>Buzzcocks</th>
            <th>Buzzcocks</th>
            <th>Buzzcocks</th>
           

        </tr>

        <tr>
            <th>Buzzcocks</th>
            <th>Buzzcocks</th>
            <th>Buzzcocks</th>
            <th>Buzzcocks</th>
            <th>Buzzcocks</th>
          

        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Nombre</th>
            <th>Tipo Documento</th>
            <th>Numero Documento</th>
            <th>Correo</th>
            <th>Teléfono</th>
          
        </tr>
    </tfoot>
</table>